Package: .∆s∆witch.project
Name: project-s∆witch
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: ∆Wean
Author: ∆Wean
Section: Utilities
Depends: ${LIBSWIFT}
